.App-container {
  display: flex;
  width: 100vw;
  max-width: '100%';
  min-height: 100vh;
  background-color: var(--gray);
  flex-direction: column;
  color: var(--white);
  font-size: 18px;
  overflow-x: hidden;
}

:root {
  --gray: #262626;
  --red: #D33F49;
  --white: #ddd;
}